{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
<h1>About us</h1>

<p>The site was made as a DBMS project for 4th sem by Pramodh KP and Pratheek MS. The site is basically a E-Med prototype. A doctor or a group of doctors present data to the user through various methods, like searching or filtering. The user can know more about the disease he is suffering from through a simple search.</p>

<a href="/" class="btn btn-primary btn-large">Browse site»</a>
</div>


{% endblock %}