{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="span5">
<form action ="/results/" method="POST">
  {% csrf_token %}
  <fieldset>
    <legend>Disease Diagnoser</legend>
    <label>Enter symptoms:</label>
    <select name = "symptoms" data-placeholder="Choose a symptom" style="width:350px;" multiple class="chzn-select" tabindex="7">
    {% for v in symptom %}
    <option>{{ v.name }}</option>
    {% endfor %}                  
  </select>
    <span class="help-block">Select only three items.</span>    
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
</div>
</div>

{% endblock %}